<ng-container *ngIf="!(loading$ | async); else loading">
  <ng-container *ngIf="albums$ | async as albums">
    <ng-container *ngIf="(loaded$ | async) && !!albums.length; else noData">
      <div id="albums" class="row">
        <ng-container *ngFor="let album of albums">
          <mat-card class="card mt-3">
            <mat-card-title>
              {{ album.title }}
            </mat-card-title>
            <mat-card-actions class="d-flex align-items-end">
              <button id="showPhotoList" mat-button color="primary" (click)="goToPhoto(album.id)">
                Show photo
              </button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div id="spinner" class="d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #noData>
  <div id="noData" class="d-flex justify-content-center align-items-center">No Data</div>
</ng-template>
